@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  
  body {
    @apply bg-sand text-earth font-sans antialiased;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif text-earth;
  }
}
